In [1]:
# Dataset
## Medical Expenses:

!pip install opendatasets
!pip install pandas

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: click in c:\users\jolos\miniconda3\lib\site-packages (from opendatasets) (8.1.3)
Requirement already satisfied: tqdm in c:\users\jolos\miniconda3\lib\site-packages (from opendatasets) (4.63.0)
Requirement already satisfied: colorama in c:\users\jolos\miniconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: six>=1.10 in c:\users\jolos\miniconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\jolos\miniconda3\lib\site-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: python-dateutil in c:\users\jolos\miniconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\jolos\miniconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Collecting python-slugify
  Downloading python_slugify-6.1.2-py2.py3-none-any.whl (9.4 kB)
Requirement already satisfied: urllib3 in c:\users\jolos\miniconda3\lib\site-packages (from kaggle->opendatasets) (1.26.8)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jolos\miniconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jolos\miniconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73049 sha256=91ac1ffda4b714a7d5c9c4c6c52f2a210b9a6ccc5acecb4178ce941183ccd049
  Stored in directory: c:\users\jolos\appdata\local\pip\cache\wheels\ac\b2\c3\fa4706d469b5879105991d1c8be9a3c2ef329ba9fe2ce5085e
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets
Successfully installed kaggle-1.5.12 opendatasets-0.1.22 python-slugify-6.1.2 text-unidecode-1.3
Requirement already satisfied: pandas in c:\users\jolos\miniconda3\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jolos\miniconda3\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jolos\miniconda3\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jolos\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jolos\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import opendatasets as od
import pandas

od.download(
    "https://www.kaggle.com/datasets/mirichoi0218/insurance")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  bellagrace

Your Kaggle Key:

  ········

Downloading insurance.zip to .\insurance

100%|██████████| 16.0k/16.0k [00:00<00:00, 1.81MB/s]

In [3]:
import pandas as pds

file = ('insurance/\insurance.csv')
newData = pds.read_csv(file)

newData

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]